
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<%# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"> %>
<style>
.container{
    width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto
}
@media (min-width:576px){
    .container{max-width:540px}
}
@media (min-width:768px){
    .container{max-width:720px}
}
@media (min-width:992px){
    .container{max-width:960px}
}
@media (min-width:1200px){
    .container{max-width:1140px}
}
.container-fluid{
    width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto
}
.row{
    display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px
}
.col-sm-6{
    -ms-flex:0 0 50%;flex:0 0 50%;max-width:50%
}
.col-md-3{
    -ms-flex:0 0 25%;flex:0 0 25%;max-width:25%
}
.col-md-4{
    -ms-flex:0 0 50%;flex:0 0 50%;max-width:50%
}
</style>
<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3 style="color: white">Services</h3>
                    <ul>
                        <li><a href="#">Web design</a></li>
                        <li><a href="#">Development</a></li>
                        <li><a href="#">Hosting</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3 style="color: white">About</h3>
                    <ul>
                        <li><a href="#">Company</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Careers</a></li>
                    </ul>
                </div>
                <div class="col-md-6 col-md-4 item text">
                    <h3 style="color: white">Company Name</h3>
                    <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
                </div>
            </div>
                <div class="col item social" style="text-align: center">
                    <a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a>
                </div>
            <p class="copyright">Freelancer © 2022</p>
        </div>
    </footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>