
  <!-- ***** Main Banner Area Start ***** -->
  <section id="section-1">
    <div class="content-slider">
      <input type="radio" id="banner1" class="sec-1-input" name="banner" checked>
      <input type="radio" id="banner2" class="sec-1-input" name="banner">
      <input type="radio" id="banner3" class="sec-1-input" name="banner">
      <input type="radio" id="banner4" class="sec-1-input" name="banner">
      <div class="slider">
        <div class="border-button" ><a style="z-index: 2;" href="#">Search</a></div>
        <input type="text" id="search" name="search"  style="z-index: 2;">
        <div id="top-banner-1" class="banner">
          <div class="banner-inner-wrapper header-text">
            <div class="main-caption">
              <h2>Take a Glimpse Into The Beautiful Country Of:</h2>
              <h1>Caribbean</h1>
              <%# <div class="border-button"><a href="#">Search</a></div> %>
            </div>           
          </div>
        </div>
        
        <div id="top-banner-2" class="banner">
          <div class="banner-inner-wrapper header-text">
            <div class="main-caption">
              <h2>Take a Glimpse Into The Beautiful Country Of:</h2>
              <h1>Switzerland</h1>
              <%# <div class="border-button"><a href="#">Search</a></div> %>
            </div>
            
          </div>
        </div>
        <div id="top-banner-3" class="banner">
          <div class="banner-inner-wrapper header-text">
            <div class="main-caption">
              <h2>Take a Glimpse Into The Beautiful Country Of:</h2>
              <h1>France</h1>
              <%# <div class="border-button"><a href="#">Search</a></div> %>
            </div>
            
          </div>
        </div>
        <div id="top-banner-4" class="banner">
          <div class="banner-inner-wrapper header-text">
            <div class="main-caption">
              <h2>Take a Glimpse Into The Beautiful Country Of:</h2>
              <h1>Thailand</h1>
              <%# <div class="border-button"><a href="#">Search</a></div>%>
            </div>    
          </div>
        </div>
      </div>
      <nav>
        
        <div class="controls">
          <label for="banner1"><span class="progressbar"><span class="progressbar-fill"></span></span><span class="text">1</span></label>
          <label for="banner2"><span class="progressbar"><span class="progressbar-fill"></span></span><span class="text">2</span></label>
          <label for="banner3"><span class="progressbar"><span class="progressbar-fill"></span></span><span class="text">3</span></label>
          <label for="banner4"><span class="progressbar"><span class="progressbar-fill"></span></span><span class="text">4</span></label>
        </div>
      </nav>
    </div>
  </section>
<style>
:root {
  --top: 40%;
}
#section-1 .content-slider .slider .banner .banner-inner-wrapper .main-caption {
  top: 40%;
  --top: top;
}
#section-1 .content-slider .border-button {
  display: block;
  text-align: center;
  top: 47%;
  position: relative;
}
#section-1 .content-slider input {
  display: block;
}
input[type=text] {
  transition: width 0.4s ease-in-out;
  position: relative;
  height: 500px;
  background: white;
  width: 40%; 
  height: 45px; 
  border-radius: 25px;
  margin-left: 30%;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 47%;
}

</style>
  <!-- ***** Main Banner Area End ***** -->