<section class="section">
    <div class="container">
        <div class="form-container">
            <p class="title is-4 has-text-centered"> What Services Are You Looking For? </p>

                <%= form_for @request do |f|%>
                <% end %>
         
        </div>
    </div>
</section>