<!DOCTYPE html>
<html>

<head>
    
    <style>

    </style>
</head>

<body>
    <div class="title-text">
        <div class="title login">Homepage content </div>
    </div>
    <div class="title-text">
        <div class="title login">Homepage content </div>
    </div>
    <div class="title-text">
        <div class="title login">Homepage content </div>
    </div>
    <div class="title-text">
        <div class="title login">Homepage content </div>
    </div>
    <div class="title-text">
        <div class="title login">Homepage content </div>
    </div>
    <div class="title-text">
        <div class="title login">Homepage content </div>
    </div>
    <div class="title-text">
        <div class="title login">Homepage content </div>
    </div>
    <div class="title-text">
        <div class="title login">Homepage content </div>
    </div>


    <%= render 'shared/footer' %>
</body>

</html>