<% @title="Contact | Freelancer" %>
<section class="section" style="margin-top: 10%;">
    <div class="container">
        <div class="title" style="text-align: center; ">
            <h2>Contact</h2>
        </div>
        <div class="row">
            <div class="column is-one-third">
            <div class="columns is-multiline">
                <div class="column">
                    <p>Liên Hệ</p>
                    <p>Công ty Cổ phần Magenweb Việt Nam</p>
                    <p>Giấy phép đăng ký kinh doanh số 0106119703 - Cấp ngày 11/03/2013 - Tại Sở Kế hoạch và Đầu tư Hà Nội</p>
                    <div class="block-contact-info container-fluid">
                        <dl class="dl-horizontal">
                            <dt>Địa chỉ:</dt>
                            <dd>Tòa nhà Ladeco, tầng 12A, số 266 Đội Cấn, phường Liễu Giai, quận Ba Đình, thành phố Hà Nội</dd>
                            <dt>Trợ giúp:</dt>
                            <dd>hotro@vlance.vn</dd>
                            <dt>Liên lạc:</dt>
                            <dd>(+84) 024.6684.1818</dd>
                        </dl>
                    </div>
                    <p id="end-contact">Nếu cần tìm hiểu thêm bạn có thể ghé qua trang
                        <a href="https://www.vlance.vn/page/cau-hoi-thuong-gap">câu hỏi thường gặp</a>.
                    </p>
                </div>
            </div>
            </div>

            <div class="column is-one-third">
            <div class="columns is-multiline">
                <div class="column">
                    <div class="span8 map-responsive">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.9041492965175!2d105.81368901492962!3d21.036520892889246!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab6d7fee2771%3A0xc4a199ae8b20e4c7!2zMjY2IMSQ4buZaSBD4bqlbg!5e0!3m2!1svi!2s!4v1622621458464!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>