/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require_self
 *= require_tree 
 *= require dropzone/dropzone
 *= stub "active_admin"
 */


@import 'bulma';
@import 'bulma-extensions';
@import 'bulma-extensions/bulma-carousel/dist/css/bulma-carousel.min';
@import 'noty/lib/noty';
@import 'noty/lib/themes/sunset';
@import 'dropzone/dist/basic.css';
@import 'dropzone/dist/dropzone.css';
@import 'raty-js/lib/jquery.raty';



.form-control {
  border-radius: 5px;
  width: 330px;
  height: 40px;
  font-size: 17px;
}

.form-group-invalid{
  color: red;
}

.dropzone{
  height: 200px;
  .button{
  position: absolute;
    top: 40%;
  }

  .row{
    color: red;
    text-align: center;
    margin-top: 20px;
  }
}

// design view devise
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
::selection{
  background: #1a75ff;
  color: #fff;
}

.container-login{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper{
  overflow: hidden;
  max-width: 390px;
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
}
.wrapper .title-text{
  display: flex;
  width: 200%;
}
.wrapper .title{
  width: 50%;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.wrapper .slide-controls{
  position: relative;
  display: flex;
  height: 50px;
  width: 100%;
  overflow: hidden;
  margin: 30px 0 10px 0;
  justify-content: space-between;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.wrapper .form-container{
  width: 100%;
  overflow: hidden;
}
.form-container .form-inner{
  display: flex;
  width: 200%;
}
.form-container .form-inner {
  width: 100%;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.form-inner .field{
  height: 50px;
  width: 100%;
  margin-top: 20px;
}

.form-inner .field-email{
  height: 50px;
  width: 100%;
  margin-top: 30px;
}

.form-container .form-inner .field-email input {
  width: 300px;
}

.checked {
  color: orange;
}


.form-container .form-inner .field input{
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
  font-size: 17px;
  transition: all 0.3s ease;
}
.form-inner .field input:focus{
  border-color: #1a75ff;
  /* box-shadow: inset 0 0 3px #fb6aae; */
}
.form-inner .field input::placeholder{
  color: #999;
  transition: all 0.3s ease;
}
.field input:focus::placeholder{
  color: #1a75ff;
}

.or
{
	display: block;
	width: 100%;
	height: 1px;
	border-bottom: 1px solid #dee3e4;
	position: relative;
	margin: 20px 0;
}

.or:before
{
	content: 'or';
	width: 40px;
	height: 18px;
	position: absolute;
	top: -5px;
	right: calc(50% - 20px);
	background-color: #fff;
	text-align: center;
	line-height: 10px;
	color: #555
}

.mt .remember {
  padding-right: 1px;
}

.mt .password {
  display: flex;
  justify-content: left;
}

.mt{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.text-white {
  color: #fff!important;
}

//design edit profile

.form-control:focus {
  box-shadow: none;
  border-color: #BA68C8;
}

.profile-button {
  background: #BA68C8;
  box-shadow: none;
  border: none;
}

.profile-button:hover {
  background: #682773;
}

.profile-button:focus {
  background: #682773;
  box-shadow: none;
}

.profile-button:active {
  background: #682773;
  box-shadow: none;
}

.back:hover {
  color: #682773;
  cursor: pointer;
}

//design footer

.footer-dark {
  padding:50px 0;
  color:#f0f9ff;
  background-color:#22b3c1;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}



$outline: #3d3d3d;
$star: #FFDB19;

$outline-size: 6px;

// Layout
// html, body {
//   height: 100%;
//   padding: 0;
//   margin: 0;
// }
body {
  overflow: hidden;
}
#form {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  height: 100%;
  margin: auto;
}

// Inputs + Labels
input, label {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.stars {
  position: relative;
  
  input {
    display: none;
    &:checked ~ label:not(.reset) {
      animation: wobble 0.8s ease-out;
      color: $star;
    }
    &:checked:not(#star-reset) ~ label.reset {
      display: block;
    }
  }
  label:not(.reset) {
    display: inline-block;
    float: right;
    position: relative;
    width: 40px;
    height: 40px;
    font-size: 30px;
    padding: 2px;
    cursor: pointer;
    color: $outline;
    transition: color 0.1s ease-out;
    z-index: 10;
  }
}


// Facial Expressions
input#star4:checked,
input#star2:checked {
  ~ .face {
    u {
      width: 36px;
      &:before, &:after {
        top: 18px;
        height: 10px;
      }
      &:before {
        left: 0px;
        transform: rotate(-66deg);
      }
      &:after {
        right: 0px;
        transform: rotate(66deg);
      }
      .cover {
        transform: translate(0,-8px); 
      }
    }
  }
}
input#star5:checked,
input#star4:checked {
  ~ .face {
    u {
      transform: rotate(180deg)
        translateY(-20px);
    }
  }
}
input#star3:checked {
  ~ .face {
    u {
      width: 42px;
      height: $outline-size;
      background: $outline;
      border: none;
      border-radius: 60px;
      transform: translateY(-4px);
      &:before,
      &:after,
      .cover {
        display: none;
      }
    }
  }
}

// Star -- Animation
@keyframes wobble {
  0% {
    transform: scale(0.8);
  }
  20% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(0.9);
  }
  60% {
    transform: scale(1.05);
  }
  80% {
    transform: scale(0.96);
  }
  100% {
    transform: scale(1);
  }
}

